* {
	font-family: 'Slabo 27px', serif;
}

#footer {
	background-color: gray;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

#contenidoHeader {
	background-image: url("../img/header.jpg");
	width: 90%;
	opacity: 0.8;
	height: 550px;
}

#letrasHeader {
	filter: shadow(color = #555555, direction = 135, strength = 2);
	text-align: center;
	color: white;
	margin-top: 30%;
	
}